<launch>
    <include file="$(find lab6)/launch/simulate.launch" />
    <include file="$(find lab6)/launch/waypoint_control.launch" />
    <include file="$(find lab6)/launch/follow_trajectory.launch" />
    <include file="$(find ta_lab5)/launch/localize.launch" />
    <include file="$(find safety_controller)/launch/safety_drive.launch" />
    <!-- <include file="$(find headless_simulator)/launch/teleop.launch" /> -->
</launch>
